<a href="https://colab.research.google.com/github/VICTORIA-OKESIPE/Data-Science-Competitions/blob/main/Team_Bambasylla_expresso_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expresso Churn Prediction Challenge

#Team: Bambasylla

### Author 1: Victoria

### Author 2: Allassan

Creation date: 15/10/2021

Update: 09/11/2021

In [ ]:
# we use the zindi library to retreive information directly from the zindi website
!pip install -q git+https://github.com/eaedk/testing-zindi-package.git

  Building wheel for zindi (setup.py) ... done

In [ ]:
# Import Zindian class from the package
from zindi.user import Zindian

In [ ]:
# create a user object
my_username = "WedOO_ai"
user = Zindian(username = my_username)

Your password
>> 路路路路路路路路路路

[  ] 攫 Welcome WedOO_ai 攫

In [ ]:
user.select_a_challenge()                               # Select a Zindi challenge
user.which_challenge                                    # Get information about the selected challenge

__________________________________________________________________________________________________________________________________
|     |              |                  |                    |
|index|  challenge   |     problem      |       reward       |    id
|     |              |                  |                    |
----------------------------------------------------------------------------------------------------------------------------------
|  0  |Public Compet |  Classification  |     $5 000 USD     | kenyan-sign-language-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
|  1  | Public Hack  |  Classification  |      $300 USD      | kenyan-sign-language-classification-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
|  2  |Public Compet |  Classification  |     $7 500 USD     | bloodsai-blood-spectroscopy-classification-challen...
----------------------------------------------------------------------------------------------------------------------------------
|  3  |Public Compet |Automatic Speech R|     $3 000 USD     | mozilla-luganda-automatic-speech-recognition...
----------------------------------------------------------------------------------------------------------------------------------
|  4  |Public Compet |    Prediction    |     $3 000 USD     | zindi-user-behaviour-birthday-challenge...
----------------------------------------------------------------------------------------------------------------------------------
|  5  |Public Compet |  Classification  |     Knowledge      | road-segment-identification...
----------------------------------------------------------------------------------------------------------------------------------
|  6  |Public Compet |    Prediction    |     $1 000 USD     | expresso-churn-prediction...
----------------------------------------------------------------------------------------------------------------------------------
|  7  |Public Compet |  Classification  |     $1 000 USD     | makerere-passion-fruit-disease-detection-challenge...
----------------------------------------------------------------------------------------------------------------------------------
|  8  |Public Compet |  Classification  |    2000 Points     | gender-based-violence-tweet-classification-challen...
----------------------------------------------------------------------------------------------------------------------------------
|  9  |Public Compet |     Forecast     |     $8 800USD      | radiant-earth-spot-the-crop-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 10  |Public Compet |     Forecast     |     $8 800 USD     | radiant-earth-spot-the-crop-xl-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 11  |Public Compet |    Prediction    |     Knowledge      | local-ocean-conservation-sea-turtle-face-detection...
----------------------------------------------------------------------------------------------------------------------------------
| 12  |Public Compet |  Classification  |     Knowledge      | zindiweekendz-learning-to-vaccinate-or-not-to-vacc...
----------------------------------------------------------------------------------------------------------------------------------
| 13  |Public Compet |  Classification  |     Knowledge      | swahili-news-classification...
----------------------------------------------------------------------------------------------------------------------------------
| 14  |Public Compet |    Prediction    |     Knowledge      | zindiweekendz-learning-urban-air-pollution-challen...
----------------------------------------------------------------------------------------------------------------------------------
| 15  |Public Compet |  Classification  |     Knowledge      | zindiweekendz-learning-covid-19-tweet-classificati...
----------------------------------------------------------------------------------------------------------------------------------
| 16  |Public Compet |    Prediction    |     Knowledge      | zindiweekendz-learning-south-african-covid-19-vuln...
----------------------------------------------------------------------------------------------------------------------------------
| 17  |Public Compet | Computer Vision  |     Knowledge      | zindiweekendz-learning-spot-the-mask-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 18  |Public Compet |    Prediction    |     Knowledge      | tanzania-tourism-prediction...
----------------------------------------------------------------------------------------------------------------------------------
| 19  |Public Compet |    Prediction    |     Knowledge      | data-science-nigeria-2019-challenge-1-insurance-pr...
----------------------------------------------------------------------------------------------------------------------------------
| 20  |Public Compet |  Classification  |     Knowledge      | ai-hack-tunisia-1-computer-vision-challenge-1...
----------------------------------------------------------------------------------------------------------------------------------
| 21  |Public Compet |  Classification  |     Knowledge      | ai-hack-tunisia-6-predictive-analytics-challenge-3...
----------------------------------------------------------------------------------------------------------------------------------
| 22  |Public Compet |    Prediction    |     Knowledge      | ai-tunisia-hack-5-predictive-analytics-challenge-2...
----------------------------------------------------------------------------------------------------------------------------------
| 23  |Public Compet | Computer Vision  |     Knowledge      | ai-hack-tunisia-2-computer-vision-challenge-2...
----------------------------------------------------------------------------------------------------------------------------------
| 24  |Public Compet |  Classification  |     Knowledge      | ai-hack-tunisia-4-predictive-analytics-challenge-1...
----------------------------------------------------------------------------------------------------------------------------------
| 25  |Public Compet | Computer Vision  |     Knowledge      | miia-pothole-image-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 26  |Public Compet | Computer Vision  |     Knowledge      | sbtic-animal-classification...
----------------------------------------------------------------------------------------------------------------------------------
| 27  |Public Compet |    Prediction    |     Knowledge      | financial-inclusion-in-africa...
----------------------------------------------------------------------------------------------------------------------------------
| 28  |Public Compet | Computer Vision  |     Knowledge      | cmu-africa-data-science-club-challenge-1-computer-...
----------------------------------------------------------------------------------------------------------------------------------
| 29  |Public Compet |    Prediction    |     Knowledge      | data-science-nigeria-challenge-1-loan-default-pred...
----------------------------------------------------------------------------------------------------------------------------------
| 30  |Public Compet |    Prediction    |     Knowledge      | data-science-nigeria-challenge-2-recommendation-en...
----------------------------------------------------------------------------------------------------------------------------------
| 31  | Public Hack  |                  |        $800        | coral-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 32  | Public Hack  | Computer Vision  |      $300 USD      | marine-invertebrates-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 33  | Public Hack  |  Classification  |      $300 USD      | road-segment-identification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 34  | Public Hack  |  Classification  |     $1 000 USD     | amld...
----------------------------------------------------------------------------------------------------------------------------------
| 35  | Public Hack  |  Classification  |      $300 USD      | gender-based-violence-tweet-classification...
----------------------------------------------------------------------------------------------------------------------------------
| 36  | Public Hack  |     Forecast     |        $300        | radiant-earth-spot-the-crop-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
| 37  | Public Hack  |                  |      $700 USD      | silicon-valley-21st-century-education-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
| 38  |Public Compet |    Prediction    |     $1 000 USD     | cryptocurrency-closing-price-prediction...
----------------------------------------------------------------------------------------------------------------------------------
| 39  |Public Compet |    Prediction    |     $5 000 USD     | sfc-paygo-solar-credit-repayment-competition...
----------------------------------------------------------------------------------------------------------------------------------
| 40  | Public Hack  |    Prediction    |      $300 USD      | sfc-paygo-solar-credit-repayment-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
| 41  |Public Compet |  Visualisation   |     $5 000 USD     | afd-solutions-for-gender-based-violence-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 42  |Public Compet |    Prediction    |Scholarship worth $3| ix-mobile-banking-prediction-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 43  |Public Compet |  Visualisation   |     $1 500 USD     | deepfake-africa-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 44  |Public Compet |    Prediction    |     $1 000 USD     | airqo-low-cost-air-quality-monitor-calibration-cha...
----------------------------------------------------------------------------------------------------------------------------------
| 45  | Public Hack  |    Prediction    |      $250 USD      | airqo-air-sensor-calibration-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 46  |Public Compet |    Prediction    |    2000 Points     | economic-well-being-prediction-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 47  | Public Hack  |    Prediction    |     $1,000 USD     | womens-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
| 48  |Public Compet |    Prediction    |    $10 000 USD     | lacuna-correct-field-detection-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 49  |Public Compet |    Prediction    |     $1 000 USD     | autoinland-vehicle-insurance-claim-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 50  |Public Compet |    Collection    |     $1 000 USD     | afd-gender-based-violence-dataset-collection-chall...
----------------------------------------------------------------------------------------------------------------------------------
| 51  |Public Compet |Automatic Speech R|     $2 000 USD     | ai4d-baamtu-datamation-automatic-speech-recognitio...
----------------------------------------------------------------------------------------------------------------------------------
| 52  |Public Compet |  Classification  |     $2 000 USD     | ai4d-malawi-news-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 53  |Public Compet |   Translation    |     $2 000 USD     | ai4d-takwimu-lab-machine-translation-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 54  |Public Compet |   Translation    |     $2 000 USD     | ai4d-yoruba-machine-translation-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 55  |Public Compet |  Classification  |     $2 000 USD     | ai4d-icompass-social-media-sentiment-analysis-for-...
----------------------------------------------------------------------------------------------------------------------------------
| 56  |Public Compet |  Classification  |   Job Interview    | instadeep-enzyme-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 57  |Public Compet |    Prediction    |     $3 000 USD     | cgiar-crop-yield-prediction-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 58  |Public Compet |    Prediction    |     $6 000 USD     | uber-nairobi-ambulance-perambulation-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 59  |Public Compet |  Classification  |     $7 000 USD     | giz-nlp-agricultural-keyword-spotter...
----------------------------------------------------------------------------------------------------------------------------------
| 60  |Public Compet | Computer Vision  |     $3 000 USD     | cgiar-wheat-growth-stage-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 61  |Public Compet |  Classification  | 2000 Zindi Points  | runmila-ai-institute-minohealth-ai-labs-tuberculos...
----------------------------------------------------------------------------------------------------------------------------------
| 62  |Public Compet |    Prediction    |    $25 000 USD     | usaids-intelligent-forecasting-challenge-model-fut...
----------------------------------------------------------------------------------------------------------------------------------
| 63  |Public Compet |    Prediction    |     $5 000 USD     | zimnat-insurance-recommendation-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 64  |Public Compet |Reinforcement Lear| 3000 Zindi Points  | indaba-grand-challenge-curing-leishmaniasis...
----------------------------------------------------------------------------------------------------------------------------------
| 65  | Public Hack  |    Prediction    |     Knowledge      | fighting-fire-with-data-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
| 66  | Public Hack  |  Classification  |    225,000 Tsh     | swahili-news-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 67  | Public Hack  | Computer Vision  |     $1,000 USD     | sansa-informal-settlements-in-south-africa...
----------------------------------------------------------------------------------------------------------------------------------
| 68  |Public Compet |    Collection    |     $6 000 USD     | ai4d-african-language-dataset-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 69  | Public Hack  |    Prediction    |      $300 USD      | the-zimnat-insurance-assurance-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 70  |Public Compet |    Prediction    |     $3 000 USD     | akeed-restaurant-recommendation-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 71  | Public Hack  |    Prediction    |      $300 USD      | akeed-restaurant-recommendation-hackathon...
----------------------------------------------------------------------------------------------------------------------------------
| 72  | Public Hack  |  Classification  |      $300 USD      | covid-19-tweet-classification-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 73  |Public Compet |  Classification  |     $4 200 USD     | basic-needs-basic-rights-kenya-tech4mentalhealth...
----------------------------------------------------------------------------------------------------------------------------------
| 74  | Public Hack  |  Classification  |      $300 USD      | to-vaccinate-or-not-to-vaccinate-its-not-a-questio...
----------------------------------------------------------------------------------------------------------------------------------
| 75  | Public Hack  | Computer Vision  |      $300 USD      | spot-the-mask-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 76  | Public Hack  |    Prediction    |      $300 USD      | urban-air-pollution-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 77  | Public Hack  |    Prediction    |      $300 USD      | south-african-covid-19-vulnerability-map...
----------------------------------------------------------------------------------------------------------------------------------
| 78  |Public Compet |  Visualisation   |     $3 195 USD     | animal-insights-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 79  |Public Compet |     Forecast     |     $5 000 USD     | airqo-ugandan-air-quality-forecast-challenge...
----------------------------------------------------------------------------------------------------------------------------------
| 80  |Public Compet |     Forecast     |     $5 000 USD     | predict-the-global-spread-of-covid-19...
----------------------------------------------------------------------------------------------------------------------------------
| 81  |Public Compet | Computer Vision  |     $5 000 USD     | iclr-workshop-challenge-2-radiant-earth-computer-v...

'expresso-churn-prediction'

In [ ]:
user.download_dataset(destination="dataset") # Download the dataset of the selected challenge

dataset/StarterNotebook.ipynb: 100%|| 334k/334k [00:00<00:00, 501ko/s]
dataset/VariableDefinitions.csv: 100%|| 1.41k/1.41k [00:00<00:00, 800ko/s]
dataset/SampleSubmission.csv: 100%|| 15.6M/15.6M [00:02<00:00, 6.20Mo/s]
dataset/Test.csv: 100%|| 42.9M/42.9M [00:06<00:00, 7.28Mo/s]
dataset/Train.csv: 100%|| 247M/247M [00:52<00:00, 4.89Mo/s]

In [ ]:
#path to datasets:
path='dataset/'

In [ ]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split,KFold
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.cluster import KMeans

In [ ]:
#chech over the different variables:
var_def=pd.read_csv(path+'VariableDefinitions.csv')

In [ ]:
var_def

   Variable Definitions  ...                                         Unnamed: 2
0                   NaN  ...                                            English
1                   NaN  ...  The churn dataset includes 19 variables includ...
2               user_id  ...                                                NaN
3                REGION  ...                        the location of each client
4                TENURE  ...                            duration in the network
5               MONTANT  ...                                      top-up amount
6        FREQUENCE_RECH  ...             number of times the customer refilled
7               REVENUE  ...                      monthly income of each client
8          ARPU_SEGMENT  ...                            income over 90 days / 3
9             FREQUENCE  ...      number of times the client has made an income
10          DATA_VOLUME  ...                              number of connections
11               ON_NET  ...                                inter expresso call
12               ORANGE  ...                                     call to orange
13                 TIGO  ...                                       call to Tigo
14                ZONE1  ...                                     call to zones1
15                ZONE2  ...                                     call to zones2
16                  MRG  ...                              a client who is going
17           REGULARITY  ...   number of times the client is active for 90 days
18             TOP_PACK  ...                              the most active packs
19        FREQ_TOP_PACK  ...  number of times the client has activated the t...
20                CHURN  ...                       variable to predict - Target

[21 rows x 3 columns]

In [ ]:
#loading the dataset
train=pd.read_csv(path+'Train.csv')

In [ ]:
train.head()

                                    user_id  REGION  ... FREQ_TOP_PACK  CHURN
0  00000bfd7d50f01092811bc0c8d7b0d6fe7c3596  FATICK  ...           8.0      0
1  00000cb4a5d760de88fecb38e2f71b7bec52e834     NaN  ...           NaN      1
2  00001654a9d9f96303d9969d0a4a851714a4bb57     NaN  ...           1.0      0
3  00001dd6fa45f7ba044bd5d84937be464ce78ac2   DAKAR  ...          11.0      0
4  000028d9e13a595abe061f9b58f3d76ab907850f   DAKAR  ...           2.0      0

[5 rows x 19 columns]

The train data takes quite some times to run because of its extremely large nature, before any further analysis,let's try to reduce the memory allocated to the data size using the function below.

In [ ]:
def reduce_mem_usage(train_data):
    """ iterate through all the columns of a dataframe and modify the data type
    to reduce memory usage.

    it's a customize variable. 
    
    Here the train_data input is a datframe (train or test)
    """
    start_mem = train_data.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

    for col in train_data.columns:
        col_type = train_data[col].dtype

        if col_type != object:
            c_min = train_data[col].min()
            c_max = train_data[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    train_data[col] = train_data[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    train_data[col] = train_data[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    train_data[col] = train_data[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    train_data[col] = train_data[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    train_data[col] = train_data[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    train_data[col] = train_data[col].astype(np.float32)
                else:
                    train_data[col] = train_data[col].astype(np.float64)
        else:
            train_data[col] = train_data[col].astype('category')

    end_mem = train_data.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return train_data

In [ ]:
#to use the function
import gc

train = reduce_mem_usage(train)
gc.collect()

Memory usage of dataframe is 312.25 MB
Memory usage after optimization is: 184.77 MB
Decreased by 40.8%

88

In [ ]:
#same with the test data
test=pd.read_csv(path+'Test.csv')

In [ ]:
test=reduce_mem_usage(test)
gc.collect()

Memory usage of dataframe is 52.20 MB
Memory usage after optimization is: 27.77 MB
Decreased by 46.8%

249

# Expresso Churn EDA

We start by cleaning our data may be merging the train and test when performing the analysis will be nice

In [ ]:
train.head()

                                    user_id  REGION  ... FREQ_TOP_PACK  CHURN
0  00000bfd7d50f01092811bc0c8d7b0d6fe7c3596  FATICK  ...           8.0      0
1  00000cb4a5d760de88fecb38e2f71b7bec52e834     NaN  ...           NaN      1
2  00001654a9d9f96303d9969d0a4a851714a4bb57     NaN  ...           1.0      0
3  00001dd6fa45f7ba044bd5d84937be464ce78ac2   DAKAR  ...          11.0      0
4  000028d9e13a595abe061f9b58f3d76ab907850f   DAKAR  ...           2.0      0

[5 rows x 19 columns]

In [ ]:
train.CHURN.value_counts() #quite imbalance, if we want to train like this

0    1750062
1     403986
Name: CHURN, dtype: int64

In [ ]:
data=pd.concat([train,test]).reset_index(drop=True) #merging the data

In [ ]:
data.head()

                                    user_id  REGION  ... FREQ_TOP_PACK  CHURN
0  00000bfd7d50f01092811bc0c8d7b0d6fe7c3596  FATICK  ...           8.0    0.0
1  00000cb4a5d760de88fecb38e2f71b7bec52e834     NaN  ...           NaN    1.0
2  00001654a9d9f96303d9969d0a4a851714a4bb57     NaN  ...           1.0    0.0
3  00001dd6fa45f7ba044bd5d84937be464ce78ac2   DAKAR  ...          11.0    0.0
4  000028d9e13a595abe061f9b58f3d76ab907850f   DAKAR  ...           2.0    0.0

[5 rows x 19 columns]

In [ ]:
data['REGION']=data['REGION'].astype('object')

In [ ]:
#converting a category type variable to object
data['TOP_PACK']=data['TOP_PACK'].astype('object')

In [ ]:
### converting into categorical variable
def tenure_cat(data):
  cond=[(data.TENURE=='K > 24 month'),(data.TENURE=='I 18-21 month'),(data.TENURE=='H 15-18 month'),(data.TENURE=='G 12-15 month'),(data.TENURE=='J 21-24 month'),(data.TENURE=='F 9-12 month'),(data.TENURE=='E 6-9 month'),(data.TENURE=='D 3-6 month')]
  val=[24,18,15,12,21,9,6,3]
  data['TENURE']=np.select(cond,val)

  return data

In [ ]:
data=tenure_cat(data)

## Preprocessing

In [ ]:
def preprocess(data):

  ##filling missing values for categorical

  data.REGION.fillna('region',inplace=True)

  data.TOP_PACK.fillna('pack',inplace=True)

  ## dealing with missing values for numerical variables

  columns=[col for col in data.columns if col not in ['user_id','REGION','TENURE','CHURN','TOP_PACK','MRG']]

  for col in columns:
    data[col].fillna(-9999,inplace=True)
  ###top_up_per_month######

  data['top_up_per_month']=data['MONTANT']/data['FREQ_TOP_PACK']

  ### tenure_per_regularity #######

  data['tenure_per_reg']=data['TENURE']/data['REGULARITY']

  data['income_to_amount']=data['REVENUE']/data['MONTANT']

  data['tenure_freq_rech']=data['REVENUE']/data['FREQUENCE_RECH']

  data['income_90_days_per_revenue']=data['ARPU_SEGMENT']/data['REVENUE']

  data['revenue_after_topup']=data['REVENUE']-data['MONTANT']

  data=data.drop(columns=['MRG'])

  _region=pd.get_dummies(data['REGION'])

  _pack=pd.get_dummies(data['TOP_PACK'])

  data=pd.concat([data.drop('REGION',axis=1),_region],axis=1)

  data=pd.concat([data.drop('TOP_PACK',axis=1),_pack],axis=1)

  ## target encoding?---we will discuss about that

  ## Principal component analysis? ----(class_1,class_2,class_4) this is feature engineering

  ## Discuss about frequency encoding ? 

  ## Building our model--- (K-fold cross validation, stratified k-fold cv)

  ## Build an ensemble model-- (LGBM+XGBoost+RandomForest)

  ## Post-processing--distribution of the target is discrete (since they are classes)
     #SO we can improve the performance by creating a range of values in a discrete interval

  return data

In [ ]:
## preprocessing the data 
data=preprocess(data)